//////////////////////////////////////////////
/////// GLOBAL SETTING
body,
#root,
.App {
	height: inherit;
}

.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

/////////////////////////////////////////////
////// FOOTER
.footer {
	background-color: var(--color-grey-dark-1);
	color: $color-grey-dark-3;
	color: $color-grey-light-1;

	.content-wrapper {
		width: 86%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		font-size: 1.7rem;
		min-height: 17rem;
		margin: 0 auto;
		padding: 3rem 0;
		// border-top: 2px solid $color-grey-light-3;

		& > *:first-child {
			margin-bottom: 1rem;
		}

		a:hover {
			color: #fff;
		}
	}

	.services {
		display: flex;
		text-align: left;
		gap: 2rem;

		a {
			font-weight: 400;
			color: inherit;

			&:hover {
				color: #fff;
				text-decoration: underline;
				text-underline-offset: 7px;
				text-decoration-thickness: 1.1px;
			}
		}

		a:not(:last-child) {
			padding-right: 2rem;
			border-right: 3px solid $color-grey-dark-3;
		}
	}

	.copyright {
		display: flex;
		font-size: 1.5rem;

		p:not(:last-child) {
			padding-right: .7rem;
			margin-right: .7rem;
			display: flex;
			align-items: center;
		}

		.ampersand {
			font-size: 120%;
		}
	}
}

///////////////////////////////////////////////
// Example Logo Setting for Animation
@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
