@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex-column($bg) {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@if $bg != 'null' {
		background-color: $bg;
	}
}

@mixin flex-column-center($bg) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	@if $bg != 'null' {
		background-color: $bg;
	}
}

@mixin flex-row($bg) {
	display: flex;
	align-items: center;

	@if $bg != 'null' {
		background-color: $bg;
	}
}

@mixin pos-top-left() {
	position: absolute;
	top: 0;
	left: 0;
	transform: traslate(-50%, -50%);
}

@mixin pos-center {
	position: absolute;
	top: 50%;
	left: 50%;
}

@mixin item-input {
	padding: 1rem .5rem;
	border-radius: 2px;
	border: 1px solid $color-grey-dark-3;
	width: 100%;
	margin-top: 1.5rem;
	font-size: 1.6rem;
	color: $color-grey-dark-4;
}

// Used for ALL MODALS
@mixin prefix-row {
	display: flex;
	font-size: 1.4rem;
	padding: .5rem 0;

	i {
		margin-right: .7rem;
		transform: translateY(.3rem);
	}
}

@mixin remove-link-default($text-color) {
	text-decoration: none;
	color: $text-color;
}

// REMOVING DEFAULT LINK STYLES
@mixin better-link-style($color-1, $color-2) {
	text-decoration: none;
	padding: 1.5rem 2rem;

	@if $color-2 == 'null' {
		background-image: linear-gradient(to right, $color-1, $color-1);
	} @else {
		background-image: linear-gradient(to right, $color-1, $color-2, $color-1);
	}
	-webkit-background-clip: text;
	color: transparent;

	&:hover {
		background-image: linear-gradient(
			to right,
			darken($color-1, 15%),
			darken($color-2, 15%),
			darken($color-1, 15%)
		);
	}
}

@mixin button-like-link($color) {
	&,
	&:visited,
	&:link {
		@include remove-link-default($color);
		padding: .7rem 1.5rem;
		border-radius: 5px;
		transition: all .8s ease;
	}

	&:active,
	&:hover {
		background-color: $color;
		color: $color-grey-light-1;
	}
}

// FOR HEADING UNDERLINES
@mixin after-underline($color-1, $color-2) {
	content: "";
	margin-top: .7rem;
	display: block;
	width: 100%;
	height: .2rem;
	@if $color-2 == 'null' {
		background-image: linear-gradient(to right, $color-1, $color-1);
	} @else {
		background-image: linear-gradient(to right, $color-1, $color-2);
	}
}

// INCLUDING PARENT ELEMENT
@mixin heading-with-underline($color-1, $color-2) {
	&::after {
		@include after-underline($color-1, $color-2);
		width: 0;
		transform-origin: bottom;
		transition: transform .2s, width .4s cubic-bezier(1, .01, 0, .98) .2s, background-color .1s;
	}
	&:hover::after {
		width: 100%;
	}
}

// TEXT GRADIENT
@mixin text-gradient($color1, $color2) {
	background-image: linear-gradient(to right, $color1, $color2);
	-webkit-background-clip: text;
	color: transparent;
}

// HEADING GRADIENT
@mixin heading-gradient($color-1, $color-2) {
	text-transform: capitalize;
	font-size: 3.5rem;
	font-weight: 500;
	@include text-gradient($color-1, $color-2);
	&::after {
		display: none;
	}
}

// BUTTON MIXIN
@mixin btn-fancy-hover($color1, $color2) {
	font-size: 1.8rem;
	text-transform: uppercase;
	padding: 1.5rem 1.5rem;
	border-radius: 2.4rem;
	border: none;
	background: linear-gradient(0.25turn, $color2, $color1, $color2);
	position: relative;
	box-shadow: 0 1rem 2rem rgba($color-black, .2);
	transition: all .2s;
	z-index: 1;
	cursor: pointer;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: inherit;
		border-radius: inherit;
		z-index: -1;
		transition: all .4s;
	}
	&:hover {
		transform: translateY(-.3rem);
		background: linear-gradient(0.25turn, $color1, $color-primary-light-2, $color1);
		color: darken($color-primary-dark-3, 15%);
		box-shadow: 0 1rem 2rem rgba($color-grey-dark-5, .2);
		&::after {
			transform: scaleX(1.4) scaleY(1.6);
			opacity: 0;
		}
	}
}

@mixin btn-fancy-hover-no-bg($color1, $color2) {
	font-size: 1.8rem;
	text-transform: uppercase;
	padding: 1.5rem 1.5rem;
	border-radius: 2.4rem;
	border: none;
	background: linear-gradient(0.25turn, $color2, $color1, $color2);
	position: relative;
	box-shadow: 0 1rem 2rem rgba($color-black, .2);
	transition: all .2s;
	z-index: 1;
	cursor: pointer;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: inherit;
		border-radius: inherit;
		z-index: -1;
		transition: all .4s;
	}
	&:hover {
		transform: translateY(-.3rem);
		color: darken($color-primary-dark-3, 15%);
		box-shadow: 0 1rem 2rem rgba($color-grey-dark-5, .2);
		&::after {
			transform: scaleX(1.4) scaleY(1.6);
			opacity: 0;
		}
	}
}

// BTN EMPTY FILL TEXT GRADATION
@mixin btn-text-gradient($color-1, $color-2) {
	text-transform: uppercase;
	font-size: 2.5rem;
	@include better-link-style($color-1, $color-2);
	border: 1px solid $color-1;
	border-radius: 5px;
	&:hover {
		background-color: $color-1;
		color: $color-2;
		border: 1px solid $color-2;
	}
}

// Styled Select Element
@mixin base-select-style() {
	background-color: #fff;
	border: 1px solid $color-primary-dark-3;
	padding: 1.5rem 2.3rem;
	font-size: 1.6rem;
	color: inherit;
	border-radius: 3px;
}
