.movie-evaluation {
	padding: 3rem 0rem;
	padding-top: 7rem;
	padding-right: 0;

	.evaluation-heading {
		font-size: 5rem;
		text-align: left;
		font-weight: 300;
		color: $color-grey-dark-4;
		margin-bottom: 3.5rem;

		max-width: 91%;
		margin: 0 auto;

		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 1.5rem;
		&::after {
			display: none;
		}

		span {
			margin-left: 1.5rem;
			font-weight: 500;
		}

		.link {
			margin-left: auto;
			font-size: 2.31rem;
			@include button-like-link($color-secondary-dark-1);
			font-weight: 500;

			.icon {
				margin-left: .7rem;
			}
		}
	}

	.evaluation-content {
		display: flex;
		justify-content: space-around;
		max-width: 100%;
		margin: 0 auto;

		& > * {
			// Dont use width: 50%;
		}
	}

	.chart-wrapper {
		margin-left: 7rem;
		padding-top: 2rem;
	}

	.evaluation-chart {
		width: 600px;
		height: 600px;
	}
}
