.header__nav-search {
	// flex: 0 0 30%;
	min-width: 35rem;
	min-height: 2.5rem;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	border: 1px solid var(--color-grey-dark-3);
	border-radius: 17px;
	display: flex;
	align-items: center;
	background: linear-gradient(0.25turn, #f1d3da, #ebf8e1, #ddf1f7);
	position: relative;

	@include respond(tab-port) {
		margin-left: auto;
		margin-right: 0;
		min-width: 40rem;
		max-width: 85%;
	}
	@include respond(phone-small) {
		margin: 0 auto;
		min-width: 35rem;
	}

	&:focus-within {
		border: 1.8px solid lighten($color-primary-dark-2, 5%);
	}

	& .fa-search {
		text-align: right;
		font-size: 1.9rem;
		flex: 0 1 7%;
		margin-left: 2px;

		@include respond(tab-land) {
			margin-left: 5px;
			margin-right: 2px;
		}
	}

	& input {
		padding: 1rem 1.3rem;
		border: none;
		flex: 1;
		height: 100%;
		font-size: 1.7rem;
		color: var(--color-grey-dark-2);
		background: transparent;

		&:focus {
			outline: none;
		}
	}

	.exit-icon-wrapper {
		margin-right: 1rem;
		font-size: 1.5rem;
		transition: all .3s linear;
		cursor: pointer;

		&:hover {
			transform: translateY(-.15rem);
		}
	}
}

.auto-complete-search {
	position: absolute;
	top: 100%;
	width: 100%;
	margin-top: .95rem;
	background-color: $color-grey-lightest-1;
	padding-top: 1rem;

	.search-heading {
		text-align: left;
		padding-left: .8rem;
		margin-bottom: 1.2rem;
	}

	&-list {
		display: flex;
		flex-direction: column;
		font-size: 1.7rem;
	}

	.auto-complete-item {
		display: flex;
		gap: 3rem;

		padding: .55rem .9rem;
		max-height: 7.5rem;

		cursor: pointer;

		&:hover {
			background-color: $color-primary-light-1;
		}

		&--active {
			background-color: $color-grey-light-2;
		}

		// &:first-child {
		// 	border-top: 1px solid $color-grey-dark-1;
		// }
		border-bottom: 1px solid $color-grey-dark-1;
	}

	.poster-wrapper {
		width: min-content;
		display: inline-block;
		max-width: 4.5rem;
		img {
			max-height: 100%;
		}
	}

	.item-title {
		display: flex;
		align-items: center;
		text-align: left;
	}
}
