//////////////////////////////////////
/////// LOADING SPINNER
.spinner {
	display: inline-block;
	width: 80px;
	height: 80px;
}

.spinner::after {
	content: ' ';
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid var(--color-primary);
	border-color: $color-primary transparent $color-primary transparent;
	animation: spinner 1.2s linear infinite;
}

$small-size: 20px;

.spinner-small {
	width: $small-size;
	height: $small-size;

	&::after {
		width: calc(1.5 * #{$small-size});
		height: calc(1.5 * #{$small-size});
		margin: calc(0.1 * #{$small-size});
		border-width: 3.7px;
		border-color: $color-secondary-light-2 transparent $color-secondary-light-2 transparent;
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

//////////////////////////////////////
/////// MODAL BASIC
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 20;
	background-color: rgba(0, 0, 0, 0.6);
}

.modal {
	position: fixed;
	top: 15vh;
	left: 5%;
	background-color: white;
	padding: 1rem;
	border-radius: 14px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
	z-index: 30;
	animation: slide-down 300ms ease-out forwards;
}

@media (min-width: 768px) {
	.modal {
		width: 40rem;
		left: calc(50% - 20rem);
	}
}

@keyframes slide-down {
	from {
		opacity: 0;
		transform: translateY(-3rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.modal__heading-icon {
	margin-right: .5rem;
}

//////////////////////////////////////
/////// AUTH Modal
.modal-content {
	display: flex;
	flex-direction: column;
	width: 82%;
	margin: 0 auto;
	font-size: $font-normal;

	& h2 {
		font-size: 2.55rem;
		text-transform: capitalize;
	}

	& ul {
		margin-top: .5rem;
		list-style: none;

		& li {
			@include prefix-row;
		}
	}

	& i {
		color: var(--color-primary-lighter);
	}

	& p {
		@include prefix-row;
	}

	& button {
		align-self: center;
		margin-top: 2rem;
		width: 40%;
		padding: 1rem 1.5rem;
		font-size: 1.9rem;
		border-radius: 2rem;
		cursor: pointer;
	}
}

//////////////////////////////////////
/////// DELETE MODAL VARAITION
.modal-content--delete {
	& h2 {
		color: rgb(218, 85, 85);
	}

	& button {
		border: rgb(218, 85, 85);
		color: rgb(218, 85, 85);
	}

	& button:hover {
		background-color: rgb(218, 85, 85);
		color: var(--color-grey-light-2);
	}
}

//////////////////////////////////////
/////// ADD MODAL
.modal-content--add,
.modal-content--info {
	& h2 {
		color: var(--color-secondary);
	}

	& button {
		background-color: var(--color-secondary);
		color: var(--color-grey-light-2);
	}

	.fa {
		color: var(--color-primary-little-dark);
	}
}

//////////////////////////////////////
/////// INFO MODAL
.modal-content--info {
	font-size: 1.6rem;
	width: 86%;
	h2 {
		font-size: 2.5rem;
	}
	strong {
		color: $color-secondary-dark-1;
	}
}

.secondary-btn {
	&:hover {
		background-color: $color-secondary-light-2;
	}
}
