.main-content {
	width: 100%;

	&--extend {
		& .movie-filter {
			opacity: 1;
			transform: translateX(0);
			transition: all .5s ease-out;
		}

		& .movies-container {
			transform: translateX(13.7rem);
			transition: all .5s ease-out;
			width: 88%;
		}
	}
}

.movie-filter {
	width: 20%;
	position: absolute;
	top: 29rem;
	left: 5rem;
	opacity: 0;
	transform: translateX(-20rem);
	transition: all .3s ease-in;
	z-index: 1;
}

.movies-container {
	width: 90%;
	min-height: 100vh;
	margin: 5rem auto;

	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;

	transition: all .3s ease-out;

	& > * {
		width: 71%;
	}

	& h1 {
		margin-top: 3.5rem;
		&::after {
			display: none;
		}
	}

	& h2 {
		margin: 0 auto;
		font-size: 3rem;
		margin-top: 1.5rem;
		margin-bottom: 2rem;
	}
}

// Movie SearchBar
.select-wrapper {
	display: flex;
	margin: 0 auto;
	align-items: flex-end;

	& .btn-filter {
		font-size: 1.5rem;
		margin-left: .5rem;
		margin-right: .7rem;
		padding: 1rem 1.5rem;
		transform: translateY(-.6rem);
		border: 1px solid var(--color-grey-dark-1-2);

		border-radius: .3rem;
		cursor: pointer;
		background-color: var(--color-grey-dark-2);
		color: var(--color-grey-light-2);

		&:hover {
			background-color: var(--color-grey-light-3);
			color: var(--color-grey-dark-1-2);
		}
	}

	.MuiFormControl-root {
		& > * {
			font-family: sans-serif;
			font-weight: 500;
			color: var(--color-grey-dark-1);
		}
	}

	.favorite-icon-wrapper,
	.shuffle-icon-wrapper {
		@include flex-center;
		display: inline-block;
		cursor: pointer;
		margin-left: 1rem;
		margin-bottom: 8px;

		.icon {
			font-size: 2.1rem;
		}
	}

	.favorite-icon-wrapper {
		.icon {
			color: $color-tertiary-dark-1;
			font-size: 3rem;
			position: relative;
			transform: translateY(.3rem);
		}

		.icon:hover {
			color: $color-tertiary-dark-3;
		}
	}

	.shuffle-icon-wrapper {
		color: transparent;

		.icon {
			color: $color-primary-dark-3;
		}

		.icon:hover {
			color: $color-primary-darkest-1;
		}
	}

	& span {
		height: 1.8rem;
		font-size: 2rem;
		margin-bottom: 1rem;
		padding: 0 1rem;
		padding-bottom: 1rem;
		margin-left: auto;
		font-weight: 700;
		color: var(--color-grey-dark-2);
		box-shadow: 0 1.5rem 4rem rgba(#333, .15);
	}
}

.page-nav {
	align-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
	color: var(--color-grey-dark-1-2);

	& .page-nav__icon-wrap {
		margin: 1rem .7rem;
		border: 1px solid var(--color-grey-dark-1);
		border-radius: 50%;
		padding: .7rem .7rem;
		width: 4rem;
		height: 4rem;
		font-size: 2.5rem;
		color: var(--color-grey-dark-1-2);
		background-color: var(--color-grey-light-1);
		cursor: pointer;
		position: relative;

		&:hover {
			background-color: var(--color-grey-dark-3);
			color: #fff;
		}

		& .fa {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&--invalid {
			opacity: .5;
			cursor: not-allowed;

			&:hover {
				border: 1px solid var(--color-grey-dark-2);
				background-color: var(--color-grey-light-1);
				color: var(--color-grey-dark-3);
			}
		}
	}

	& .page-numbers {
		margin: 0 1rem;
		font-size: 1.75rem;
		& strong {
			font-weight: 600;
		}
	}
}
