.movie-add {
	margin: 10rem auto 15rem auto;
	width: clamp(75rem, 55%, 1000px);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-info {
	font-size: 5rem !important;
	text-align: left;
	font-weight: 400 !important;

	.MuiAlert-icon {
		font-size: 3.3rem;
	}

	.MuiAlert-message {
		font-family: sans-serif;
		div {
			font-size: 2.4rem;
		}
		font-size: 1.7rem;
	}

	margin-bottom: 2rem;
}

.movie-form-wrapper {
	color: var(--color-grey-dark-1-2);
	background: linear-gradient(to right, $color-primary-light-0, $color-primary-light-0);
	border-radius: .35rem;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-size: 1.8rem;

	& > * {
		width: 94%;
	}

	& > *:first-child {
		margin-top: 2.7rem;
	}

	& h2 {
		font-size: 3rem;
	}

	input {
		&:focus {
			outline: none;
		}
		border: 1px solid $color-grey-dark-2;
	}
}

.form-search {
	font-size: inherit;
	display: flex;
	flex-direction: column;
	gap: .4rem;
	text-align: left;

	$lighter-bg: lighten($color-secondary-light-1, 13.5%);
	background-color: $lighter-bg;
	border-radius: 15px;
	border: 1.8px solid $color-secondary;
	padding: 2.5rem 3rem;
	padding-bottom: 2rem;
	margin-bottom: 2.2rem;

	&__label {
		color: $color-grey-dark-6;
	}
	&__input-box {
		display: flex;

		border-radius: .5rem;
		border: 1px solid $color-grey-dark-2;
		overflow: hidden;
		& > * {
			border-radius: 0;
		}

		&:focus-within {
			border: 1.6px solid $color-secondary-light-3;
		}
	}

	&__input {
		font-size: 95%;
		padding: 1rem;
		border: 0px solid white !important;
		flex: 1;
	}

	&__btn {
		border: 0px solid white;
		padding: 0 1.5rem;
		font-size: 2.2rem;
	}

	&__message {
		margin-top: 1rem;
	}
}

.movie-form {
	& .line-input {
		padding: 1.5rem .7rem;
		background-color: transparent;
		border: 1px solid $color-primary-light-3;
		font-size: inherit;
		text-align: left;

		& label {
			display: block;
			padding: .7rem 0;
			padding-left: .3rem;
		}

		& input {
			font-size: 1.6rem;
			border-radius: .5rem;
			padding: .45rem .3rem;
		}

		textarea {
			padding: .7rem 1rem;
		}
	}

	& .line-title {
		padding-bottom: 3rem;
	}

	& .genre-rating {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		& .rating-wrapper {
			margin-bottom: .5rem;
			& h4 {
				font-size: inherit;
				padding-left: .3rem;
				margin-bottom: 0;
				font-weight: 500;
				& span {
					font-weight: 500;
					font-size: 70%;
				}
			}
			& label {
				font-size: inherit;
			}

			& input {
				margin-left: 1.3rem;
				width: 25%;
			}
		}

		& .genre-wrapper {
			transform: translateY(-.7rem);
			margin-left: 8rem;
			& select {
				font-size: 1.3rem;
				font-weight: 400;
				padding: .4rem .6rem;
				width: 100%;
				background-color: #fff;
			}

			& label {
				& span {
					font-size: 70%;
					font-weight: 500;
				}
			}
		}

		& ul {
			flex: 1;
			list-style: none;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			margin-left: 2.5rem;
			height: 60%;
			font-size: 1.5rem;

			& li {
				display: block;
				height: 50%;
				cursor: pointer;
				padding-top: .7rem;
			}

			& li:not(last-child) {
				margin-right: .3rem;
				padding-right: .3rem;
			}

			& .fa {
				color: var(--color-primary-lighter);
				margin-right: .5rem;
			}
		}
	}

	& .line-title {
		& label {
		}

		& input {
			width: 78%;
		}
	}

	& .line-url {
		padding-bottom: 3.2rem;
		& label {
		}
		& input {
			width: 78%;
		}
	}

	& .line-optional {
		display: flex;
		min-width: 30rem;
		justify-content: flex-start;
		flex-wrap: wrap;
		padding-top: .2rem;
		padding-bottom: 3rem;

		& h3 {
			font-size: 2.5rem;
			flex: 0 0 100%;
			font-weight: 500;
			margin-bottom: 1.9rem;
		}

		& .wrapper {
			flex: 1 0 40%;

			& input {
				width: 80%;
			}
		}

		& .director-wrapper,
		.duration-wrapper {
			margin-left: 6.5rem;
		}

		& .year-wrapper,
		.duration-wrapper {
			margin-top: 2rem;
		}

		& .year-wrapper {
			max-width: 40rem;
		}

		& .duration-wrapper {
			display: flex;
			flex-wrap: wrap;

			& div:first-child {
				padding: .5rem 0;
				flex: 1 0 100%;
			}

			& .input-hours {
				margin-right: .7rem;
			}

			& .input-hours,
			.input-minutes {
				height: 46%;
				flex: 0 0 40%;
				display: flex;

				& input {
					width: 80%;
				}

				& label {
					margin-left: .3rem;
					padding-right: .5rem;
				}
			}
		}

		& div {
			& span {
				font-size: 1.15rem;
			}

			& label {
			}

			& input {
			}
		}
	}

	& .line-description {
		padding-top: 3rem;
		padding-bottom: 3.3rem;
		& h3 {
			font-weight: 500;
			margin-bottom: .5rem;
		}

		& textarea {
			border-radius: .5rem;
			font-size: 1.8rem;
			font-family: sans-serif;
			min-width: 82%;
		}
	}

	& .button-wrapper {
		text-align: center;
		& button {
			margin: 1.5rem;
		}
	}
}
