//////////////////////////////////
///// USED IN BUTTON
@keyframes fade-out {
	from {
		transform: scale(100%, 100%);
		opacity: 1;
	}
	to {
		transform: scale(230%, 230%);
		opacity: 0;
	}
}

@keyframes SlideRight {
	0% {
		width: 0;
		opacity: 0;
		visibility: hidden;
		white-space: nowrap;
	}
	50% {
		opacity: .3;
	}
	100% {
		width: 100%;
		opacity: 1;
		visibility: visible;
		white-space: normal;
	}
}
