:root {
	--color-primary: #ccdbfd;
	--color-primary-lightest: #e2eafc;
	--color-primary-lighter: rgb(238, 129, 156, 0.65);
	--color-primary-light: #d7e3fc;
	--color-primary-little-dark: #8caaf0;
	--color-primary-dark: #919cc0;
	--color-primary-darkest: #6e789b;

	--color-secondary-light-1: #b3d4e6;
	--color-secondary: #0aa0f1;
	--color-secondary-dark-1: #0077b6;
	--color-secondary-dark-2: #030405;

	--color-grey-light-1: #faf9f9;
	--color-grey-light-2: #f4f2f2;
	--color-grey-light-3: #f0eeee;
	--color-grey-light-4: #ccc;

	--color-grey-dark-1: #333;
	--color-grey-dark-1-2: #555;
	--color-grey-dark-2: #777;
	--color-grey-dark-3: #999;
	--color-grey-dark-4: #aaa;

	--color-gold-light-1: #fcd762;
	--color-gold-dark-1: #ffb65c;

	--color-warning: rgb(218, 85, 85);

	--shadow-light: 0 2rem 5rem rgba(0, 0, 0, .1);
	--shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);

	--line: 1.5px solid var(--color-grey-light-3);
}

////////////////////////////////////
//////// GLOBAL SETTING
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	min-height: 100vh;
}

// BASIC SETTINGS
.warning-message {
	padding-top: 1rem;
	color: $color-tertiary-dark-3;
}

//////////////////////////////////
/////// MUI CSS ADJUSTMENT
.MuiFormControl-root {
	& label {
		font-size: 1.6rem;
	}

	& .MuiFilledInput-root {
		& div {
			padding-top: 2.6rem;
			margin-bottom: -.9rem;
			font-size: 1.5rem;
		}
	}
}
