////////////////////////////
//// RESUSABLE H2
h2 {
	font-size: 2.5rem;
	font-weight: 550;
	color: var(--color-grey-dark-1-2);
	padding: 1rem 0;
	margin-bottom: 1rem;
	text-align: left;
	text-transform: capitalize;

	&::after {
		@include after-underline($color-grey-dark-3, $color-grey-light-2);
	}
}

h1 {
	font-size: 6rem;
	font-weight: 300;

	&::after {
		@include after-underline($color-grey-light-3, $color-grey-light-1);
		width: 0;
		transform-origin: bottom;
		transition: transform .2s, width .4s cubic-bezier(1, .01, 0, .98) .2s, background-color .1s;
	}

	&:hover::after {
		width: 100%;
	}
}

h3 {
	font-weight: 500;
	text-transform: capitalize;
}

.gradient-sub-heading {
	text-transform: capitalize;
	font-size: 3.8rem;
	font-weight: 500;
	@include text-gradient($color-grey-light-1, $color-grey-dark-1);
}
